.iframe-container {
  padding-top: 56.25%;
  position: relative;
}
.iframe-container .iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
details {
  font-size: 1.5rem;
}
details > details {
  padding-left: 30px;
}
summary {
  padding-bottom: 15px;
}
.container {
  margin-top: 20px;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  font-size: 0.9rem;
}
